 .btn-blue {

	background-color: #ffce00;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;

 }

 .button__ButtonWrapper-sc-1g3rldj-0 {
	 background-color: : red;
 }

